.sc-player{
  width: 540px;
  height: 270px;
  border: 1px solid #000;
  position: relative;
  font: 12px Arial, sans-serif;
  background-color: #333;
  color: #eee;
  margin-bottom: 20px;
}

.sc-player ol, .sc-player li{
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

/* Artworks */
.sc-player .sc-artwork-list{
  width: 50%;
  height: 100%;
  background-color: #00aa00;
  list-style-type: none;
  position: relative;
}

.sc-player .sc-artwork-list li{
  list-style-type: none;
  display: none;
}

.sc-player .sc-artwork-list li.active{
  list-style-type: none;
  display: block;
}

.sc-player .sc-artwork-list li img, .sc-player .sc-artwork-list li div{
  list-style-type: none;
  width: 100%;
  height: 100%;
}

/* controls */


.sc-player .sc-controls{
  position: absolute;
  width: 50px;
  height: 50px;
  margin-left: -25px;
  margin-top: -25px;
  top: 50%;
  left: 25%;
  background-color: blue;
}

.sc-player .sc-controls a{
  display: block;
  width: 50px;
  height: 50px;
}

.sc-player .sc-controls a.sc-pause{
  display: none;
}

.sc-player.playing .sc-controls a.sc-play{
  display: none;
}

.sc-player.playing .sc-controls a.sc-pause{
  display: block;
}

/* scrubber */
.sc-scrubber {
  background-color: red;
  position: absolute;
  left: -5000px;
  bottom: 10px;
  height: 20px;
  width: 250px;
}

.sc-player:hover .sc-scrubber {
  display: block;
  left: 10px;
}

.sc-scrubber .sc-time-span{
  background-color: #fff;
  height: 10px;
  margin: 5px;
  position: relative;
}

.sc-scrubber .sc-buffer, .sc-scrubber .sc-played{
  background-color: #aaa;
  height: 10px;
  position: absolute;
  top: 0;
}

.sc-scrubber .sc-played{
  background-color: #333;
}

.sc-scrubber .sc-time-indicators{
  position: absolute;
  right: 0;
  top: -15px;
}
/* tracks */


/* Track listings*/
.sc-player ol.sc-trackslist{
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 50%;
  overflow: auto;
}

.sc-player ol.sc-trackslist li{
  cursor: pointer;
  margin: 5px 20px;
}

.sc-player ol.sc-trackslist li:hover, .sc-player.playing ol.sc-trackslist li.active{
  background-color: #ff6600;
}

.sc-player ol.sc-trackslist li.active{
  background-color: #ffbb00;
}

/* Track info*/

.sc-player .sc-info{
  position: absolute;
  top: 10px;
  left: -5000px;
  width : 400px;
  padding: 5px;
  height: 200px;
  z-index: 500;
  margin-left: -200px;
  background: rgba(30, 30, 30, 0.9);
}

.sc-player .sc-info.active{
  left: 50%;
}


.sc-player .sc-info-toggle{
  position: absolute;
  top: 10px;
  left: 20px;
}

.sc-player .sc-info-toggle.active{
  left: -5000px;
}

.sc-player .sc-info-close{
  position: absolute;
  top: 10px;
  right: 20px;
  color: #bbb;
}




/* utilities */
.sc-player .hidden {
  display: none;
}

#scPlayerEngine{
  width: 1px;
  height: 1px;
  position: fixed;
  top: 2px;
  left: 2px;
}
