.wrapper{
  width: 800px;
  margin: 0 auto;
}
.sc-player{
  width: 800px;
  height: 250px;
  position: relative;
  margin-bottom: 20px;
}

.sc-player ol, .sc-player li{
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

/* Artworks */

.sc-player .sc-artwork-list{
  width: 100%;
  height: 50%;
  background-color: #transparent;
  list-style-type: none;
  position: relative;
  display: none;
}

.sc-player .sc-artwork-list li{
  list-style-type: none;
  display: none;
}

.sc-player .sc-artwork-list li.active{
  list-style-type: none;
  display: block;
}

.sc-player .sc-artwork-list li img, .sc-player .sc-artwork-list li div{
  list-style-type: none;
  width: 380px;
  height: 380px;
  float: left;
  margin: 5px 0;
}

/* controls */

.sc-player .sc-controls{
  position: absolute;
  width: 22px;
  height: 22px;
  top: 30px;
  left: 0;
  z-index: 5000;
}

.sc-player .sc-controls a{
  display: block;
  width: 22px;
  height: 22px;
}

.sc-player .sc-controls a.sc-pause{
  display: none;
}

.sc-player.playing .sc-controls a.sc-play{
  display: none;
}

.sc-player.playing .sc-controls a.sc-pause{
  display: block;
}

/* scrubber */

.sc-scrubber {
  position: absolute;
  top: 0px;
  height: 80px;
  width: 800px;
}

.sc-scrubber .sc-time-span{
  height: 80px;
  position: relative;
}

.sc-scrubber .sc-buffer, .sc-scrubber .sc-played{
  height: 80px;
  position: absolute;
  top: 0;
}

.sc-scrubber .sc-time-indicators{
  position: absolute;
  right: 0;
  top: 30px;
}

/* tracks */

/* Track listings*/

.sc-player ol.sc-trackslist{
  position: absolute;
  float: left;
  width: 100%;
  height: 50%;
  top: 90px;
}

.sc-player ol.sc-trackslist li{
  float: left;
  width: 390px;
  cursor: pointer;
  margin: 5px 0;
  padding: 5px 0;
  list-style: none;
}

/* Track info*/

.sc-player .sc-info{
  position: absolute;
  top: 10px;
  left: -5000px;
  width : 400px;
  padding: 5px;
  height: 200px;
  z-index: 500;
  margin-left: -200px;
}

.sc-player .sc-info.active{
  left: 50%;
  top: 12%;
}


.sc-player .sc-info-toggle{
  position: absolute;
  top: 10px;
  left: 10px;
  display: none;
}

.sc-player .sc-info-toggle.active{
  left: -5000px;
}

.sc-player .sc-info-close{
  position: absolute;
  top: 10px;
  right: 20px;
}

/* utilities */

.sc-player .hidden {
  display: none;
}

.sc-player-engine-container{
  width: 1px;
  height: 1px;
  position: fixed;
  top: 2px;
  left: 2px;
}
